In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('house_prices.csv')

In [5]:
data

         sqr_ft          price
0   2248.360000  331317.390000
1   1930.870000  285385.140000
2   2323.840000  318845.990000
3   2761.510000  388385.020000
4   1882.920000  308912.320000
5   1882.930000  306918.750000
6   2789.610000  362176.290000
7   2383.720000  332187.490000
8   1765.260000  283151.550000
9   2271.280000  346638.900000
10  2766.632777  372188.800517
11  2636.931604  361241.724617
12  2130.857371  318527.900845
13  1888.375125  298061.844214
14  2266.912082  330011.229890
15  2107.401206  316548.146817
16  2675.697884  364513.687319
17  1954.969089  303682.527194
18  2214.895431  325620.905485
19  2375.073059  339140.263959
20  2862.169328  380252.304079
21  2257.030284  329177.183490
22  1922.756767  300963.733433
23  2633.706306  360969.502068
24  2427.553495  343569.732880
25  1875.759512  296997.057564
26  2864.619384  380459.094428
27  2974.178214  389706.110488
28  2715.325854  367858.378740
29  2853.248926  379499.401719
30  1965.221354  304547.841817
31  2594.747622  357681.299968
32  2848.257432  379078.108224
33  2525.975898  351876.808988
34  2208.214073  325056.983571
35  1651.051812  278031.213293
36  2151.257753  320249.739780
37  2416.330460  342622.483048
38  2869.516580  380872.428973
39  2949.909552  387657.779826
40  2215.514665  325673.170218
41  2797.964892  374833.302694
42  1890.738466  298261.315532
43  2707.541741  367201.381744
44  2323.048956  334749.310537
45  1521.062550  267059.822024
46  2579.557030  356399.179163
47  2098.235313  315774.524479
48  2737.267466  369710.300998
49  2502.229802  349872.584124